<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Local Tools v2</title>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/views/basic/home.css">
</head>

<body>
  
  {{{body}}}

  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/tether/dist/js/tether.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>